authClient {
	   cu.pdi.bookstore.security.module.DataBaseLM required
	   userQuery="SELECT w.first_name, w.middle_name, w.last_name FROM sec_user as u JOIN sec_worker as w ON (u.username = w.username) WHERE u.username = :user AND u.user_password = :pass"
	   roleQuery="SELECT r.id_role, r.role FROM sec_user as u JOIN sec_role as r ON (u.role_id_role = r.id_role) WHERE u.username= :user"
	   adminQuery = "SELECT * FROM sec_user as u WHERE u.username = 'admin'"
	   adminRoleInsertQuery = "INSERT INTO sec_role (id_role, role, description_label) VALUES(1, 'ADMON','Administrador')"
	   findAdminRoleQuery = "SELECT * FROM sec_role AS r WHERE r.role = 'ADMON'"
	   adminInsertQuery = "INSERT INTO sec_user (username, user_password, role_id_role) VALUES(:user,:pass, :role)"
	   adminInsertWorkerQuery = "INSERT INTO sec_worker (username, first_name, middle_name, last_name) VALUES(:user, :f_name, :m_name, :l_name)"
	   debug=true;
	};