authClient {
	   cu.pdi.bookstore.security.module.DataBaseLM required
	   userQuery="SELECT p.nombre, p.primer_apellido, p.segundo_apellido FROM Usuario as u JOIN Persona as p ON (u.id_persona = p.id_persona) WHERE u.usuario = :user AND u.userPassword = :pass"
	   roleQuery="SELECT r.id_rol, r.rol FROM Usuario as u JOIN Rol as r ON (u.id_rol = r.id_rol) WHERE u.usuario= :user"
	   debug=true;
	};