/* Application wide styles */

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

/*.button {*/
    /*-fx-font-family: "Arial Narrow";*/
/*}*/

.menu-title{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
    -fx-inner-border, -fx-body-color;

    -fx-padding: 1;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
    -fx-border-radius: 5;

}

.menu-title .label{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: rgba(130, 130, 130, 0.81);
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}


/* Login specific styles */

.login-background {
    -fx-background-color: rgba(0, 0, 0, 0.7);
    -fx-background-radius: 0 0 13 13;
    -fx-border-color: transparent rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.25);
    -fx-border-radius: 0 0 13 13;
}

.login-background .label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #ececec;
    -fx-effect: dropshadow( gaussian , rgba(181, 181, 181, 0.93), 0,0,0,1 );
}

